body {
  width: 735px;
  font-family: raleway;
}

/* Navigation Bar */

nav {
  background-color: #92E1E5;
  color: white;
  display: flex;
  justify-content: space-between;
}

.dog-logo {
  margin: 5px 19px;
  width: 22px;
}

.nav-tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 6px;
}

.tool {
  padding: 0 10px;
  margin: 0px;
  font-size: 11px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  background-image: url(/images/park.jpg);
  background-size: 735px;
  align-items: center;
}

h1 {
  font-size: 21px;
  font-weight: 400;
  margin: 25px 0 14px;
}

.dog-img {
  border-radius: 50%;
  border: solid 2px #408CA7;
}

.header-dog {
  width: 175px;
  border: solid 2.5px #408CA7;
}

button {
  border: solid 2.5px #408CA7;
  background-color: white;
  color: #408CA7;
  height: 26px;
  font-family: raleway;
  font-weight: 500;
  font-size: 11px;
}

.header-button {
  margin: 10px 0 30px;
}

/* Main Content */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-dog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 20px;
  width: 290px;
}

h2 {
  font-size: 11px;
  font-weight: 500;
}

.main-dog {
  border: solid 1.5px #408CA7;
  margin: 5px 0 17px;
  width: 125px;
}

p {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  margin: 0 11px 20px;
  line-height: 93%;
}

/* Footer */
footer {
  background-color: #3F8DA8;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h3 {
  font-size: 11px;
  font-weight: 400;
  margin: 10px;
}

.social-media-logo-container {
  display: flex;
  justify-content: center;
}

.social-media-logo {
  margin: 16px 16px 26px;
  height: 27px;
}

.github-link {
  margin: 0 0 12px;
}