@import 'variables';

body {
  width: 740px;
  nav {
    background-color: $secondary-accent-color;
  }
  
  header {
    @include centered();
    
  }
  
  main {
    
  }
  
  footer {
    @include centered();
    
  }
}


.dog-icon {
  width: 50px;
}