@import 'variables';

body {
  font-family: raleway;
  width: 740px;

  nav {
    background-color: $secondary-accent-color;
    display: flex;
    justify-content: space-between;

    .dog-icon {
      width: 20px;
      margin: 5px 20px;
    }

    .nav-buttons-cont {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 5px;
      
      
      .nav-button {
        color: white;
        padding: 0 10px;
        margin: 0px;
        font-size: 11px;
        border: 0;
        background-color: $secondary-accent-color;
        font-family: raleway
      }
        // ^^ why doesn't this child automatically inherit the font family from it's parents ???

      }
    }
  }
  
  header {
    @include centered();
    background-image: url(../../dist/images/park.jpg);
    background-size: 740px;

    h1 {
      font-size: 20px;
      font-weight: 400;
    }


    .header-image {
      border-radius: 50%;
      width: 175px;
    }

    button {
      margin: 10px 0px 30px;
      @include button()
    }
}
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;

    .dog-container {
      @include centered();
      margin: 15px 0 20px;
      width: 290px;

      h2 {
        font-size: 12px;
        font-weight: 400;
      }

      .caption {
        text-align: center;
        font-size: 11px;
        margin: 0 10px 20px
      }

      .dog-img {
        border: solid 2px $main-accent-color;
        margin: 5px 0px 20px;
        width: 125px;
        border-radius: 50%;
      }
    }
    button {
      @include button()
    }
  }
  
  footer {
    @include centered();
    background-color: $main-accent-color;
    color: white;

    h3 {
      font-size: 12px;
      font-weight: 300;
    }

    .social-media-cont {
      display: flex;
      justify-content: center;

      .social-media-logo {
        margin: 15px 15px 20px;
        height: 30px
      }
    }

    p {
      margin: 0 0 20px;
    }

    u {
      font-size: 12px;
      margin: 0;
    }
  }


.dog-icon {
  width: 50px;
}